body{
	background-image: url("feedback.jpg");
	font-family: "Comic Sans MS", cursive, sans-serif;
}

div{
	background-color: black;
	color: white;
	width: 75%;
	height: 50%px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 100px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	opacity: 0.8;
	text-align: left;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

span{
	color: red;
}

form{
	text-align: left;
	padding:0px 350px ;
}

input{
	border-radius: 5px;

}

textarea{
	border-radius: 5px;
}

#sub1{
	width: 20%;
	height: 30px;
	border-radius: 10px;
	color: white;
	background-color: #297ccc;
}